body { 
  
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.cow {
  position: relative;
  inset: 0px;
  width: 12rem;
  height: 15rem;
  margin: auto;
  margin-right: 52%;
  margin-top: 20rem;
}

.tross{
  font-family: 'Comic Sans MS', cursive;
  position: relative;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  text-align: center;
}

.goDown{
  font-family: 'Comic Sans MS', cursive;
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}
.goDownforarrow{
  font-family: 'Comic Sans MS', cursive;
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
}

.hero-section {
  min-height: 100vh;
}

.box-section {
  min-height: 100vh;
}

.box{
    width: 1400px;
    height: 680px;
    margin: auto;
    margin-top: 30rem;
    position: relative;    
}

.projects-box{
  width: 1400px;
  height: 200px;
  margin: auto;
  margin-top: 10rem;
  position: relative;    
}

.projects-header{
  font-family: 'Comic Sans MS', cursive;
  position: relative;
  margin: auto;
  text-align: center;
}

.projects-row {
  display: flex;
  width: 1000vh;
  margin-left: 31px;
  flex-direction: row;
  gap: 1px;
}
a{
  text-decoration: none;
  color: black;
}
.projects-img{
  opacity: 1;
  padding: 15px;
  position: relative;
}

.projects-text{
  font-family: 'Comic Sans MS', cursive;
  position: relative;
}

.projects-p{
  width: 100px;
  font-size: smaller;
}

.box-text {
  font-family: 'Comic Sans MS', cursive;
  opacity: 1;
  position: relative;
  padding: 100px;
  font-size: x-large;

  display: flex;
  flex-direction: row;
}

.box-img {
  width: 420px;
  height: 500px;
}

.box-img-div {
  margin-bottom: 10rem;
}

.box-background {
  background-color: aliceblue;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}

.rights {
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
}
